/*  */
/* default */
/*  */
body {
    background-color: rgba(255, 252, 220, 0.582);
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.2s;
    transition: width 0.2s;
}

body, html {
    overflow: hidden;
}

.container {
    height: 98dvh;
    width: 99dvw;
    margin: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: height 0.2s;
    transition: width 0.2s;
    font-size: 14px;
}

.box {
    background-color:rgb(175, 114, 231);
    margin: 4px;
    border-width: thick;
    display: flex;
    align-items: center;
    text-align: center;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(4px); }
    100% { transform: translateX(0); }
}

.shake-animation {
    animation: shake 0.18s;
    animation-iteration-count: 1;
}

/*  */
/* fonts */
/*  */
#welcome, #show-name, #login-hint, #success_login_output_p{
    color: #ffffff;
    text-decoration: none;
    margin: 0;
}

#welcome {
    font-family: 'Lobster', cursive;
    font-size: 28pt;
}

#show-name {
    font-family: 'Lobster', cursive;
    font-size: 20pt;
    flex: 0 1 45%;
    padding-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#success_login_output_p {
    flex: 1 1 45%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

#login-hint {
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
}

#login-hint, #loginForm, #login-btn, #message-field, #chat-btn, #create-game{
    font-size: 14pt;
}


/*  */
/* top */
/*  */
#box-1 {
    height: 19dvh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    transition: height 0.2s;
    flex-direction: column;
    justify-content: center;
    margin: 4px;
}


#box-2 {
    flex-direction: row;   /* this make element to be aligned inside one sting */
    justify-content: space-between;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    margin: 4px;
    flex-grow: 1;     /* this will make the element occupy all the space!!! */
    display: none;
}

#box-3 {
    margin: 4px;
    flex-direction: column;
}

#socket_status {
    flex-direction: row;   /* this make element to be aligned inside one sting */
    justify-content: center;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    margin: 4px;
    flex-grow: 1;     /* this will make the element occupy all the space!!! */
    display: none;
}

#nose-div {
    margin: 4px;
    flex-grow: 1;
    flex-direction: row;
    box-sizing: border-box;
}

#tooth-div {
    margin: 4px;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

/*  */
/* mid */
/*  */
#box-9 {
    height: 79dvh;
    flex-direction: column;
    transition: height 0.2s;
    justify-content: center;
}

#login-div-0 {
    flex-direction: row;
    flex-wrap: nowrap;
}

#loginForm {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
}

#usernameInput, #passwordInput, #login-btn {
    width: 50dvw;
    transition: width 0.2s;
}

#create-room-div {
    flex-direction: row;
    flex-wrap: nowrap;
}

#room-name-input, #room-name-btn {
    flex-direction: row;
    flex-wrap: nowrap;
}

#room-name-input {
    min-width: 10dvw;
}

/*  */
/* bot */
/*  */
#chatContainer {
    height: 0dvh;
    display: flex;
    flex-direction: column;
    transition: height 0.2s;
}

#chatBody {
    background-color: rgb(215, 204, 255);
    margin: 4px;
    flex-grow: 1;
}

#messageDiv {
    margin: 4px;
    flex-direction: row;
    box-sizing: border-box;
}

#messageFormSend {
    flex: 1 1 auto;
    min-width: 10dvw;
    padding-left: 10px;
}

#messageForm {
    justify-content: space-between;
}

#messageInput {
    flex: 1;

}

#message_output {
    background-color: rgb(215, 204, 255);
    padding-left: 10px;
    padding-right: 10px;
}

#message_output_p {
    margin: 0 0 0px;
    color: #39378a;
    font-weight: bold;
}